*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}
header, form, .total-todos{
   display: flex;
   justify-content: center;
   align-items: center;
}
header{
    margin-top: 3.5vw;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #424242;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    font-family: 'Open Sans', sans-serif;
}
input{
    height: 3vw;
    width: 35vw;
    border: none;
    border-radius: .3vw;
    padding: 1.2rem;
    background-color: whitesmoke;
    font-size: 1.3vw;
}
.todo-button{
    height: 3vw;
    width: 4vw;
    border: none;
    border-radius: .3vw;
    margin-left: .6vw;
    border-radius: 5px;
    background: linear-gradient(to right, #03A9F4, #1E88E5);
}
.total-todos{
    margin-top: 2vw;
    font-family: 'Open Sans', sans-serif;
    color: #424242;
    display: flex;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo{
    color: #424242;
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
    height: 3vw;
    min-width: 35vw;
    width: fit-content;
    background-color: whitesmoke;
    list-style: none;   
    font-family: 'Open Sans', sans-serif;
    border-radius: .3vw;
    padding-left: 1vw;
    transition: all .5s ease;
}
.todo li{
    flex: 1;
}
.trash-btn{
    background-color: rgba(254,0,0,255);
    border: none;
    height: 3vw;
    width: 3vw;
    border-radius:.3vw;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.complete-btn{
    background-color:yellow;
    height: 3vw;
    width: 3vw;
    border-radius:.3vw;
    border: none;
    cursor: pointer;
}
.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: .5;
}



